<h1>New blog</h1>

<%#= error_messages_for :blog %>

<% form_for(@open_id) do |f| %>
  <%= render :partial => 'form' , :object => f %>
  <p>
    <%= f.submit :Create.t %>
  </p>
<% end %>

<%= link_to :Back.t, open_ids_path %>
