<h1>Editing blog</h1>

<%#= error_messages_for :blog %>

<% form_for(@blog) do |f| %>
  <%= render :partial => 'form' , :object => f%>
  <p>
    <%= f.submit :Update.t %>
  </p>
<% end %>

<%= link_to :Show.t, @blog %> |
<%= link_to :Back.t, blogs_path %>
