<% title "mubs home" %>
<h2><%= :"Homepage of Mubs".t %></h2>

<br />

<%= :"Mubs is a multi users and multi blogs web application.".t %>

<br />

<%= :"You can find all blogs' list".t %> <%= link_to :here.t, blogs_path %>.

<hr />