<h1>New blog</h1>

<%#= error_messages_for :blog %>

<% form_for(@blog) do |f| %>
  <%= render :partial => 'form' , :object => f %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', blogs_path %>
