<h1>Editing comment</h1>

<%#= error_messages_for :comment %>

<% form_for(@comment) do |f| %>
  <p>
    <%= f.submit :Update.t %>
  </p>
<% end %>

<%= link_to :Show.t, @comment %> |
<%= link_to :Back.t, comments_path %>
