<p class="open_id">
  <label><%= :"Your OpenID".t + "(#{:optional.t})" %></label><br/>
  <%= f.text_field :url %>
	<%#= f.remove_link "remove" %>
	<a href="#" onclick='$(this).up(".open_id").remove(); return false;'>remove</a>
</p>
