<h1>Editing commenter</h1>

<%#= error_messages_for :commenter %>

<% form_for(@commenter) do |f| %>
  <p>
    <%= f.submit :Update.t %>
  </p>
<% end %>

<%= link_to :Show.t, @commenter %> |
<%= link_to :Back.t, commenters_path %>
