<h1>Editing account</h1>

<%#= error_messages_for :account %>

<% form_for(@account) do |f| %>
  <p>
    <%= f.submit :Update.t %>
  </p>
<% end %>

<%= link_to :Show.t, @account %> |
<%= link_to :Back.t, accounts_path %>
